/* app/globals.css */
@import "tailwindcss";

@theme {
  --color-sevoil-dark: #004A61;
  --color-sevoil-primary: #005B7F;
  --color-sevoil-light: #F4F7F9;
  --color-sevoil-accent: #00A3C4;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

/* Optionnel : Adoucir les transitions */
* {
  @apply transition-colors duration-200;
}

/* Personnalisation de la barre de défilement pour les tableaux */
.overflow-x-auto::-webkit-scrollbar {
  height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #004A61; /* Ta couleur sevoil-dark */
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #005B7F;
}